@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "berlin_sans_fb_demibold";

    src: url("./fonts/berlin_sans_fb_demibold.woff2") format("woff2"),
        url("./fonts/berlin_sans_fb_demibold.woff2") format("woff");

    font-weight: normal;

    font-style: normal;
}
