@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "berlin_sans_fb_demibold";

  src: url("./fonts/berlin_sans_fb_demibold.woff2") format("woff2"),
    url("./fonts/berlin_sans_fb_demibold.woff2") format("woff");

  font-weight: normal;

  font-style: normal;
}


.brand-opacity:hover> :not(:hover) {
  opacity: 0.5;
}

.tg-btn-2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(69 248 130 / var(--tw-border-opacity));
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-family: Barlow, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.tg-btn-2::before {
  pointer-events: none;
  position: absolute;
  left: -0.125rem;
  top: 50%;
  height: 51px;
  width: 15px;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-image: url(./img/icons/btn_shape01.png);
  --tw-content: "";
  content: var(--tw-content);
}

.tg-btn-2::after {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: auto;
  right: -0.125rem;
  height: 51px;
  width: 15px;
  --tw-translate-y: -50%;
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-image: url(./img/icons/btn_shape01.png);
  --tw-content: "";
  content: var(--tw-content);
}

.tg-btn-2:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(69 248 130 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(32 31 42 / var(--tw-text-opacity));
}

.tg-btn-2.-secondary {
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 190 24 / var(--tw-border-opacity));
}

.tg-btn-2.-secondary::before {
  content: var(--tw-content);
  background-image: url(./img/icons/btn_shape02.png);
}

.tg-btn-2.-secondary::after {
  content: var(--tw-content);
  background-image: url(./img/icons/btn_shape02.png);
}

.tg-btn-2.-secondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 190 24 / var(--tw-bg-opacity));
}

.about-swiper-bg {
  background-image: url(./img/bg/area_bg01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mySwiper.swiper {
  overflow: visible;
}

.mySwiper .swiper-scrollbar {
  background: #16833a;
  border-radius: 0%;
  display: flex;
  align-items: center;
}

.mySwiper .swiper-scrollbar-drag {
  background: #45f882;
  height: 0.5rem;
  border-radius: 0%;
}

.mySwiper .swiper-horizontal > .swiper-scrollbar,
.mySwiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 100%;
  left: 0;
}
